@use "../../abstracts" as abst;

.bromo {
  margin: 25rem 0;

  &-image {
    position: relative;
    z-index: -2;
  }

  &-content {
    position: absolute;
    bottom: 2.3rem;
    max-width: 116.3rem;
    text-align: center;
  }

  &-tagline {
    position: relative;
    text-align: center;
    max-width: 29.6rem;
    margin: 0 auto;
    span {
      display: inline-block;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: calc(3.2 / 1.8);
      padding: 2rem 1.5rem;
      background-color: #000;
      position: relative;
      z-index: 2;
    }

    &::before {
      content: "";
      @include abst.size(29.6rem, 0.2rem);
      background-color: abst.$Accent;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
